body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
    background-color: #000;
  }

body{
    background-image: url(https://i.ibb.co/kBXZVWg/pokeballs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 3s ease forwards ;
}

header{
    background-color: transparent;
    margin: 0%;
}



#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    filter: blur(50px);
    image-rendering: pixelated;
    animation: fadeIn 3s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        filter: blur();
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}
