<!-- All other collections -->

<h1 class="text-2xl text-center p-4">User Collections</h1>
<div class="flex flex-col justify-start">
  <div class="grid grid-cols-3">
    <div>User</div>
    <div>Rating</div>
  </div>
  <% collections.forEach((collection) => { %>
  <div
    class="text-lg my-2 text-left border-b border-gray-500 border-opacity-40 rounded-lg hover:bg-canvas hover:text-container transition-colors duration-300"
  >
    <div class="grid grid-cols-3 justify-evenly">
      <p><%=collection.User.username%></p>

      <p><%=collection.rating ? collection.rating : "No rating" %></p>
      <a class="justify-self-end text-container text-sm" href="/collections/<%=collection.user_id%>">
        <button
          class="text-center  py-1 px-4 bg-button rounded-md "
        >
          Go
        </button>
      </a>
    </div>
  </div>
  <% }) %>
</div>
