<div
  class="flex flex-col bg-white border-8 border-yellow-300 h-96 w-64 pb-2 px-1 m-10 box-border rounded relative"
>
  <!-- Stage -->
  <div class="text-xxxs w-11/12">${card.category}</div>

</div>
