<!-- Main flex box for filter section -->
<div class="flex justify-start px-4 lg:px-36 ws:px-96">
    <!-- Cards button -->
    <button
      id="cards-button"
      class="px-2 m-4 relative border-b border-container border-opacity-20 text-container hover:bg-container hover:text-canvas rounded-md transition-colors"
    >
      Cards
    </button>
  
    <!-- Comments button -->
    <button
      id="comments-button"
      class="px-2 m-4 relative border-b border-container border-opacity-20 text-container hover:bg-container hover:text-canvas rounded-md transition-colors"
    >
      Comments
    </button>
  </div>