      <!-- Container for "my collection" or "top collections" -->
      <div class="min-h-16 flex justify-center items-center text-xl my-4">
        <!-- My collection button -->
        <a
          href="/collections/mycollection"
          class="h-full mx-10 flex items-center relative"
        >
          <button
            id="my-collection-button"
            class="px-2 rounded-md relative border-b border-container border-opacity-20 text-canvas bg-container hover:bg-canvas hover:text-container transition-colors"
          >
            My Collection
          </button>
        </a>

        <!-- Rarities Dropdown -->
        <a
          href="/collections/topcollections"
          class="h-full mx-10 flex items-center relative"
        >
          <button
            id="top-collections-button"
            class="px-2 rounded-md relative border-b border-container border-opacity-20 text-container hover:bg-container hover:text-canvas transition-colors"
          >
            User Collections
          </button>
        </a>
      </div>