<nav class="flex justify-center items-center align-middle h-12 text-white font-semibold"> 

  <a href="/" class="w-1/3 items-start h-full">
    <img src="images/siteIcons/pokeballIcon.png" class="h-full pl-5 mt-3">
  </a>

  <h1 class="flex justify-center items-center w-1/3 h-full font-eightbit text-lg md:text-2xl lg:text-4xl p-4 mt-5">
    Catchr
  </h1>
  
  <div class="w-1/3 flex justify-end items-center text-xl p-4">

      <a href="/login" class="p-4 font-semibold md:hidden lg:block">Login</a>
    <a href="/register" class="p-4 font-semibold md:hidden lg:block">Register</a>

    
 
      <a href="/logout" class="p-4 font-semibold md:hidden lg:block">Log Out</a>
      <a href="/myAccount" class="p-4 font-semibold md:hidden lg:block">My Account</a>
  
  </div>
</nav>