<div
id="popup"
class="fixed text-canvas z-20 top-1/4 md:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-container p-6 flex justify-center items-center shadow-lg rounded-lg"
style="display: none"
>
<p id="popupMessage" class="text-lg mb-4"></p>
<button
  id="closePopup"
  class="bg-canvas text-container font-bold py-2 px-4 rounded"
>
  Close
</button>
</div>