<div
  id="stats"
  class="grid grid-cols-2 md:grid-cols-4 w-full max-w-[660px] justify-center self-center items-center text-container"
>
  <h2 class="text-xl text-center p-4 font-bold bg-button rounded m-2">
    Total Cards: <%= stats.totalCards %>
  </h2>
  <h2 class="text-xl text-center p-4 font-bold bg-button rounded m-2">
    Unique Cards: <%= stats.uniqueCards %>
  </h2>
  <h2 class="text-xl text-center p-4 font-bold bg-button rounded m-2">
    Shiny Cards: <%= stats.shinies %>
  </h2>

  <h2
    class="text-xl flex md:flex-col items-center justify-evenly text-center p-4 font-bold bg-button rounded m-2"
  >
    <p>Likes:</p>
    <p><%= collection.numLikes %></p>
  </h2>
</div>
