<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Catchr</title>
  </head>
  <body>
    <main
      class="bg-allpokemon bg-no-repeat bg-center bg-cover flex flex-col h-screen"
    >
      <!-- Main Area -->
      <div
        id="overlay"
        class="flex-grow flex flex-col justify-center items-center bg-black bg-opacity-0 transition-all duration-1000"
      >
        <!-- Title -->
        <h1
          class="font-eightbit text-5xl md:text-xxxxl lg:xxxxxl text-white text-center opacity-0 mb-0 transition-all delay-500 duration-1000"
          id="bigtitle"
        >
          Catchr
        </h1>

        <% if (user.authen) { %>
          <p class="text-white pb-10 mb-10 text-2xl bg-gray-700 bg-opacity-40 rounded-xl px-20 pt-10 text-center m flex items-center ">Welcome Back, <%= user.username %> </p>
       <% } %>
        
        <!-- Main container for buttons with transition properties -->
        <div
          class="flex justify-evenly opacity-0 transition-opacity delay-700 duration-1000 text-lg md:text-xl lg:text-2xl font-semibold"
          id="homebuttons"
        >
          <!-- Button 1 -->
          <a
            class="bg-white border-2 border-black text-xs md:text-base lg:text-xl rounded-lg mx-6 px-8 py-4 text-center flex items-center justify-center"
            href="/register"
          >
            <button>Register</button>
          </a>

          <!-- Button 1 -->
          <a
            class="bg-blue-400 border-2 border-black text-xs md:text-base lg:text-xl rounded-lg mx-6 px-12 py-4 text-center flex items-center justify-center"
            href="/login"
          >
            <button>Log In</button>
          </a>

          <!-- Button -->
          <a
            class="bg-yellow-300 border-2 border-black text-xs md:text-base lg:text-xl rounded-lg mx-6 px-6 py-4 text-center flex items-center justify-center"
            href="/allcards"
          >
            <button>Browse Cards</button>
          </a>
        </div>

        
      </div>
    </main>

    <script src="/functions/loadhome.js"></script>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/footer.ejs`) %>
</html>
