<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Details</title>
    <%- include (`partials/header.ejs`) %>
  </head>
  <body class="box-border h-full bg-pokeballs">
    <!-- Header Bar -->
    <%- include (`partials/nav.ejs`) %> 
    
<% collections.forEach((collection) => { %>
    <%= collection.collection_name %>
<% }) %>
    
</body>
</html>