<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include (`partials/header.ejs`) %>
    <title>Card Details</title>
</head>
<body class="bg-pokeballs">
    
</body>
<%- include (`partials/footer.ejs`) %>
</html>